:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #181818;
  --liClr: whitesmoke;
  --accClr: #0D0D35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--dkClr);
  color: var(--liClr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--accClr);
  width: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  width: 100%;
  padding: 20px; /* Optional: add padding around the main content */
  background-image: url('SlotGame/assets/BackgroundImage.jpg');
  background-repeat: no-repeat; /* Prevent image repeating */
  background-size: cover; /* Stretch image to cover the entire container */
  background-position: center; /* Center the image */
}

.slots {
  display: flex;
  flex-direction: column; /* Stack children vertically within the slots container */
  align-items: center; /* Center horizontally */
  padding-top: 60px;
  width: 58%; /* Ensure it stretches to the full width of the container */
  height: 80%;
  background-color: goldenrod;
  background-image: url('SlotGame/assets/GoldBorder.png');
  background-repeat: no-repeat; /* Prevent image repeating */
  background-size: cover; /* Stretch image to cover the entire container */
  background-position: center; /* Center the image */

}

.headerContainer {

  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 10px;
  width: 50%;
  background-color: goldenrod; /* Ensure background color matches */
}


#winContainer {
  
  color: green; /* Adjust color if needed */
  font-size: 24px; /* Adjust font size if needed */
  font-weight: bold; /* Make the text bold */
  display: inline-block; /* Ensure the container doesn't take full width */
  transition: opacity 0.5s; /* Smooth transition for fading out */
  margin-left: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;

}

button {

  font-weight: bold;
  background-color: var(--accClr);
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  background-image: url('SlotGame/assets/RedButton.png'); /* Add your texture image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1); /* Optional: adds a shadow for depth */
  transition: background 0.3s ease; /* Optional: smooth background change on hover */
  color: gold;

}

#spinButton {

  font-size: 44px;
  margin-top: 20px;
  border-radius: 50%; /* Makes the button round */
  width: 150px; /* Set width */
  height: 150px; /* Set height */
  display: flex; /* Center content inside the button */
  justify-content: center;
  align-items: center;
  margin-right: 505px;
}

#addBalanceButton {

  font-size: 16px;
  margin-top: 20px;
  border-radius: 50%; /* Makes the button round */
  width: 150px; /* Set width */
  height: 150px; /* Set height */
  display: flex; /* Center content inside the button */
  justify-content: center;
  align-items: center;
}

#autoSpinButton {

  font-size: 18px;
  margin-top: 20px;
  border-radius: 50%; /* Makes the button round */
  width: 150px; /* Set width */
  height: 150px; /* Set height */
  display: flex; /* Center content inside the button */
  justify-content: center;
  align-items: center;
  margin-left: 505px;
}
